 
nav {
    background-color: #484848;
    
}

.col-4.events-list{
	 background-color:#212121;
	 height:100%;
	 overflow-y: scroll;
}

.card-img, .card-img-bottom, .card-img-top {
	height: 20vh;
}

.plannedEvents {
  overflow: scroll;
}

.home .row{
	height:100vh;
}

.pt-6 {
  padding-top: 12vh; !important;
 }

/*********************home*********************************/
.btnHome{
	height:6vh;
	border-radius: 200px;
}

.activityButtonGroup{
	background-color: #c49000;
	padding: 5vh;
}

.card-dark{
	 background-color: #484848;
}

/********************body**********************************/
body{
	background-color: #9FB6CD;
}

